@page
@model RazorWebInterface.Pages.Recipes.CreateModel
@{
	ViewData["Title"] = "Create";
}

<h2 class="my-4">Create A New Category</h2>

<form method="post">
	<div class="my-3 row">
		<label asp-for="@Model.Recipe.Title" class="col-2 col-form-label"></label>
		<div class="col-10">
			<input asp-for="@Model.Recipe.Title" class="form-control" />
		</div>
		<span asp-validation-for="@Model.Recipe.Title" class="text-danger"></span>
	</div>

	<div class="btn-group float-end">
		<input type="submit" value="Create" class="btn btn-primary" />
		<a class="btn btn-secondary" asp-page="Index">Back to List</a>
	</div>
</form>
